    main { 
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: 3em;
    }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

code,
.code,
pre {
  font-family: 'Source Code Pro';
  background: $char;
  color: $lightGray;
  font-size: 16px;
  padding: 0;
  padding: 10px;
  &:before {
    display: block;
    width: calc(100%);
    margin-left: -3px;
    margin-top: -3px;
    padding: 3px;
    text-transform: uppercase;
    content: attr(data-lang);
    background: $medBlue;
  }
  .o {
    color: orange;
  }
  .w {
    color: white;
  }
}

table {
    border-collapse: collapse;
    }
    th {	
        border: 0.25px solid rgb(187, 186, 184);
        padding: 16px
    }

   td {	
        border: 0.25px solid rgb(187, 186, 184);
        padding: 8px
    }
    thead th {
      width: 100%;
    }

    thead td {
        width: 25%;
      }